@model ContosoUniversity.ViewModels.DepartmentDetailsData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Administrator
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Administrator.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Budget)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Department.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Model.Instructors != null)
{
    <h3>Instructors in the @Html.DisplayFor(model => model.Department.Name) department</h3>
    <table class="table">
        <tr>
            <th>Instructor</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Instructors)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@Html.ActionLink("Details", "Details", "Instructor", new { id = item.ID }, null)</td>
            </tr>
        }
    </table>
}

@if (Model.Coruses != null)
{
    <h3>Courses offered by the @Html.DisplayFor(model => model.Department.Name) department</h3>
    <table class="table">
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Credits</th>
        </tr>
        @foreach (var item in Model.Coruses)
        {
            <tr>
                <td>@item.CourseID</td>
                <td>@item.Title</td>
                <td>@item.Credits</td>
            </tr>
        }
    </table>
}
