@model ContosoUniversity.ViewModels.InstructorDetailData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.OfficeAssignment.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.OfficeAssignment.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.Department.Name)
        </dd>

        <dt>
            Manager
        </dt>

        @if (Model.Instructor.Department.InstructorID == Model.Instructor.ID)
        {
            <dd>Chancellor</dd>
        }
        else
        {
            <dd>@Html.DisplayFor(model => model.Instructor.Department.Administrator.FullName)</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Instructor.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Model.Courses != null)
{
    <h3>Courses Taught by @Html.DisplayFor(model => model.Instructor.FirstMidName) @Html.DisplayFor(model => model.Instructor.LastName)</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Details", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }
    </table>
}

@if (Model.Enrollments != null)
{
    <h3>Students Enrolled in @Html.DisplayFor(model => model.Instructor.Department.Name) @ViewBag.CourseID: @ViewBag.CourseTitle</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade.Letter)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Enrollment", new { id = item.EnrollmentID, instructorID = Model.Instructor.ID }, null)
                </td>
            </tr>
        }
    </table>
}