@model ContosoUniversity.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instructor.OfficeAssignment.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructor.OfficeAssignment.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructor.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructor.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructor.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructor.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructor.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructor.HireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.instructor.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Details", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }
    </table>
}

@if (Model.Enrollments != null)
{
    <h3>Students Enrolled in Selected Course</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Enrollment", new { id = item.EnrollmentID, instructorID = Model.instructor.ID, courseID = item.CourseID }, null)
                </td>
            </tr>
        }
    </table>
}